{% include "taskman/header.html" %}
<div id="tabs">
	<ul>
		<li><a href="#fragment-1">Open tasks</a></li>
		<li><a href="#fragment-2">Completed tasks</a></li>
	</ul>
	
	<div id="fragment-1">
		<form action="{% url 'taskman:index'%}" method="post">
			{% csrf_token %}
			{% if open_tasks|length_is:"0" %}
				<h3> You don't have any open tasks.</h3>
			{% else %}						
				<input class = "buttons" type="submit" value="Delete" name="task_edits"/>			
				<input class = "buttons" type="submit" value="Mark closed" name="task_edits"/>
				<br>
				<table class = "task_table">	
					<tr bgcolor="#FACC2E">
					  <th width="70px">Select</th>
					  <th width="230px"><a href="?order_by=title&type=open">Title</a></th>
					  <th width="400px">Comments</th>
					  <th width="150px"><a href="?order_by=deadline&type=open">Deadline</a></th>
					  <th width="250px"><a href="?order_by=-added_date&type=open">Added on</a></th>	  
					</tr>
		
					{% for task in open_tasks %}
					<tr bgcolor="{% cycle '#D8D8D8' '#ECECEC'%}">
						<td align="center"><input type="checkbox" value={{task.id}} name="pk"/></td>
						<td>{{ task.title }}</td>
						<td>{{ task.comments }}</td>
						<td>{{ task.deadline|date:"d M, Y" }}</td>
						<td>{{ task.added_date|date:"d M, Y h:i a" }}</td>
					</tr>
					{% endfor %}
				
				</table>
			{% endif %}
		</form>
	</div>
	
	<div id="fragment-2">
		<form action="{% url 'taskman:index'%}" method="post">
			{% csrf_token %}
			{% if closed_tasks|length_is:"0" %}
				<h3> You don't have any closed tasks.</h3>
			{% else %}
				<input class = "buttons" type="submit" value="Delete" name="task_edits"/>
				<input class = "buttons" type="submit" value="Mark open" name="task_edits"/>
				<br>			
				<table class = "task_table">
					<tr bgcolor="#FACC2E">
					  <th width="70px">Select</th>
					  <th width="230px"><a href="?order_by=title&type=closed">Title</a></th>
					  <th width="400px">Comments</th>
					  <th width="150px"><a href="?order_by=-deadline&type=closed">Deadline</a></th>
					  <th width="250px"><a href="?order_by=-added_date&type=closed">Added on</a></th>  
					</tr>
					
					{% for task in closed_tasks %}
					<tr bgcolor="{% cycle '#D8D8D8' '#ECECEC'%}">		
						<td align="center"><input type="checkbox" value={{task.id}} name="pk"/></td>
						<td>{{ task.title }}</td>
						<td>{{ task.comments }}</td>
						<td>{{ task.deadline|date:"d M, Y" }}</td>
						<td>{{ task.added_date|date:"d M, Y h:i a" }}</td>
					</tr>
					{% endfor %}

				</table>
			{% endif %}
		</form>
	</div>
	
</div>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

<script>
	$( "#tabs" ).tabs({
	  active: 0
	});
</script>